html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: #e7eeee;
}

button,
input,
select,
textarea {
  font: inherit;
}

img {
  max-width: 100%;
}
